In [14]:
import pandas as pd

In [15]:
all_matches = pd.read_csv('combined_atp_matches_with_streaks.csv')

In [16]:
print(all_matches.head())
cat_cols = ['tourney_id','tourney_name','surface','draw_size','tourney_level','tourney_date','winner_id']

  tourney_id tourney_name surface  draw_size tourney_level  tourney_date  \
0  2020-8888      Atp Cup    Hard         24             A      20200106
1  2020-8888      Atp Cup    Hard         24             A      20200106
2  2020-8888      Atp Cup    Hard         24             A      20200106
3  2020-8888      Atp Cup    Hard         24             A      20200106
4  2020-8888      Atp Cup    Hard         24             A      20200106

   match_num  winner_id winner_seed winner_entry  ... l_2ndWon l_SvGms  \
0        300     104925         NaN          NaN  ...      6.0    10.0
1        299     105138         NaN          NaN  ...      6.0     9.0
2        298     104925         NaN          NaN  ...     25.0    14.0
3        297     105583         NaN          NaN  ...     14.0    12.0
4        296     104745         NaN          NaN  ...     10.0    14.0

   l_bpSaved l_bpFaced  winner_rank  winner_rank_points loser_rank  \
0        6.0       8.0          2.0              9055.0        1.0
1        5.0      10.0         10.0              2335.0       34.0
2        6.0      11.0          2.0              9055.0        5.0
3        0.0       1.0         34.0              1251.0       17.0
4        1.0       5.0          1.0              9985.0       18.0

  loser_rank_points winner_streak winner_max_streak
0            9985.0             2                26
1            1251.0             1                 8
2            5705.0             2                26
3            1840.0             0                 5
4            1775.0             1                16

[5 rows x 51 columns]

In [17]:
all_matches.shape

(11515, 51)

In [18]:
all_matches.describe()

,draw_size,tourney_date,match_num,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,winner_streak,winner_max_streak
count,11515.000000,1.151500e+04,11515.000000,11515.000000,11029.000000,11511.000000,11515.000000,10714.000000,11503.000000,11515.000000,...,11019.000000,11020.000000,11019.000000,11019.000000,11458.000000,11458.000000,11380.000000,11380.000000,11515.000000,11515.000000
mean,61.730439,2.022068e+07,249.488667,137050.834998,187.482546,26.713891,135694.236214,186.568322,27.143189,3.358142,...,14.475542,12.435118,4.788729,8.538434,73.136848,1899.775266,108.567487,1207.706327,1.293183,7.469214
std,44.205651,1.217579e+04,130.633677,40052.895540,6.699398,4.500692,39850.141195,6.664868,4.557697,0.766856,...,6.813719,4.187855,3.283763,4.153989,116.967765,2081.944138,167.716379,1303.127633,1.656969,4.882125
min,2.000000,2.020011e+07,1.000000,100644.000000,163.000000,15.800000,100644.000000,163.000000,16.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
25%,32.000000,2.021062e+07,217.500000,105916.000000,183.000000,23.500000,105882.000000,183.000000,23.800000,3.000000,...,10.000000,9.000000,2.000000,6.000000,18.000000,720.250000,35.000000,572.000000,0.000000,4.000000
50%,32.000000,2.022062e+07,276.000000,123755.000000,188.000000,26.100000,111797.000000,185.000000,26.700000,3.000000,...,14.000000,11.000000,4.000000,8.000000,46.000000,1089.000000,67.000000,855.500000,1.000000,6.000000
75%,128.000000,2.023061e+07,289.000000,144895.000000,193.000000,29.600000,144817.000000,191.000000,30.200000,3.000000,...,18.000000,15.000000,7.000000,11.000000,86.000000,2220.000000,111.000000,1340.000000,2.000000,9.000000
max,128.000000,2.024052e+07,1701.000000,212721.000000,211.000000,43.600000,212722.000000,211.000000,43.900000,5.000000,...,48.000000,36.000000,27.000000,38.000000,1783.000000,12113.000000,2146.000000,12113.000000,8.000000,26.000000

In [19]:
all_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11515 entries, 0 to 11514
Data columns (total 51 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          11515 non-null  object
 1   tourney_name        11515 non-null  object
 2   surface             11462 non-null  object
 3   draw_size           11515 non-null  int64
 4   tourney_level       11515 non-null  object
 5   tourney_date        11515 non-null  int64
 6   match_num           11515 non-null  int64
 7   winner_id           11515 non-null  int64
 8   winner_seed         4831 non-null   object
 9   winner_entry        1751 non-null   object
 10  winner_name         11515 non-null  object
 11  winner_hand         11515 non-null  object
 12  winner_ht           11029 non-null  float64
 13  winner_ioc          11515 non-null  object
 14  winner_age          11511 non-null  float64
 15  loser_id            11515 non-null  int64
 16  loser_seed          2869 non-null   object
 17  loser_entry         2614 non-null   object
 18  loser_name          11515 non-null  object
 19  loser_hand          11510 non-null  object
 20  loser_ht            10714 non-null  float64
 21  loser_ioc           11515 non-null  object
 22  loser_age           11503 non-null  float64
 23  score               11515 non-null  object
 24  best_of             11515 non-null  int64
 25  round               11515 non-null  object
 26  minutes             10877 non-null  float64
 27  w_ace               11019 non-null  float64
 28  w_df                11019 non-null  float64
 29  w_svpt              11019 non-null  float64
 30  w_1stIn             11019 non-null  float64
 31  w_1stWon            11019 non-null  float64
 32  w_2ndWon            11019 non-null  float64
 33  w_SvGms             11020 non-null  float64
 34  w_bpSaved           11019 non-null  float64
 35  w_bpFaced           11019 non-null  float64
 36  l_ace               11019 non-null  float64
 37  l_df                11019 non-null  float64
 38  l_svpt              11019 non-null  float64
 39  l_1stIn             11019 non-null  float64
 40  l_1stWon            11019 non-null  float64
 41  l_2ndWon            11019 non-null  float64
 42  l_SvGms             11020 non-null  float64
 43  l_bpSaved           11019 non-null  float64
 44  l_bpFaced           11019 non-null  float64
 45  winner_rank         11458 non-null  float64
 46  winner_rank_points  11458 non-null  float64
 47  loser_rank          11380 non-null  float64
 48  loser_rank_points   11380 non-null  float64
 49  winner_streak       11515 non-null  int64
 50  winner_max_streak   11515 non-null  int64
dtypes: float64(27), int64(8), object(16)
memory usage: 4.5+ MB

In [21]:
import pandas as pd

# Assuming all_matches is your DataFrame
length = len(all_matches) // 2  # Use integer division to avoid floating point issues

# Create the target variable list
y = [0] * length + [1] * length

# If the number of rows is odd, we need to add one more value to match the length
if len(all_matches) % 2 != 0:
    y.append(1)

# Assign the target variable to the DataFrame
all_matches['y'] = pd.Series(y, index=all_matches.index)

# Print the first few rows to verify
print(all_matches.head())

  tourney_id tourney_name surface  draw_size tourney_level  tourney_date  \
0  2020-8888      Atp Cup    Hard         24             A      20200106
1  2020-8888      Atp Cup    Hard         24             A      20200106
2  2020-8888      Atp Cup    Hard         24             A      20200106
3  2020-8888      Atp Cup    Hard         24             A      20200106
4  2020-8888      Atp Cup    Hard         24             A      20200106

   match_num  winner_id winner_seed winner_entry  ... l_SvGms l_bpSaved  \
0        300     104925         NaN          NaN  ...    10.0       6.0
1        299     105138         NaN          NaN  ...     9.0       5.0
2        298     104925         NaN          NaN  ...    14.0       6.0
3        297     105583         NaN          NaN  ...    12.0       0.0
4        296     104745         NaN          NaN  ...    14.0       1.0

   l_bpFaced winner_rank  winner_rank_points  loser_rank loser_rank_points  \
0        8.0         2.0              9055.0         1.0            9985.0
1       10.0        10.0              2335.0        34.0            1251.0
2       11.0         2.0              9055.0         5.0            5705.0
3        1.0        34.0              1251.0        17.0            1840.0
4        5.0         1.0              9985.0        18.0            1775.0

  winner_streak winner_max_streak  y
0             2                26  0
1             1                 8  0
2             2                26  0
3             0                 5  0
4             1                16  0

[5 rows x 52 columns]

In [22]:
all_matches1 = all_matches[:int(length)]
all_matches1.to_csv('all_matches_firsthalf.csv', encoding='utf-8', index=False)

all_matches1.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,winner_streak,winner_max_streak,y
0,2020-8888,Atp Cup,Hard,24,A,20200106,300,104925,NaN,NaN,...,10.0,6.0,8.0,2.0,9055.0,1.0,9985.0,2,26,0
1,2020-8888,Atp Cup,Hard,24,A,20200106,299,105138,NaN,NaN,...,9.0,5.0,10.0,10.0,2335.0,34.0,1251.0,1,8,0
2,2020-8888,Atp Cup,Hard,24,A,20200106,298,104925,NaN,NaN,...,14.0,6.0,11.0,2.0,9055.0,5.0,5705.0,2,26,0
3,2020-8888,Atp Cup,Hard,24,A,20200106,297,105583,NaN,NaN,...,12.0,0.0,1.0,34.0,1251.0,17.0,1840.0,0,5,0
4,2020-8888,Atp Cup,Hard,24,A,20200106,296,104745,NaN,NaN,...,14.0,1.0,5.0,1.0,9985.0,18.0,1775.0,1,16,0

In [23]:
all_matches2 = all_matches[int(length):]
all_matches2.to_csv('all_matches_secondhalf.csv', encoding='utf-8', index=False)
all_matches2.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,winner_streak,winner_max_streak,y
5757,2022-540,Wimbledon,Grass,128,G,20220627,118,105676,NaN,NaN,...,14.0,10.0,17.0,58.0,930.0,113.0,521.0,0,6,1
5758,2022-540,Wimbledon,Grass,128,G,20220627,119,202104,31,NaN,...,16.0,10.0,15.0,35.0,1168.0,118.0,504.0,3,12,1
5759,2022-540,Wimbledon,Grass,128,G,20220627,120,126207,23,NaN,...,15.0,6.0,10.0,28.0,1439.0,256.0,205.0,1,7,1
5760,2022-540,Wimbledon,Grass,128,G,20220627,121,109739,NaN,NaN,...,22.0,6.0,11.0,172.0,319.0,200.0,283.0,0,3,1
5761,2022-540,Wimbledon,Grass,128,G,20220627,122,122330,NaN,NaN,...,12.0,5.0,10.0,38.0,1105.0,59.0,922.0,2,9,1

In [24]:
all_matches2 = all_matches[int(length):]
all_matches2.to_csv('all_matches_secondhalf.csv', encoding='utf-8', index=False)
all_matches2.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,winner_streak,winner_max_streak,y
5757,2022-540,Wimbledon,Grass,128,G,20220627,118,105676,NaN,NaN,...,14.0,10.0,17.0,58.0,930.0,113.0,521.0,0,6,1
5758,2022-540,Wimbledon,Grass,128,G,20220627,119,202104,31,NaN,...,16.0,10.0,15.0,35.0,1168.0,118.0,504.0,3,12,1
5759,2022-540,Wimbledon,Grass,128,G,20220627,120,126207,23,NaN,...,15.0,6.0,10.0,28.0,1439.0,256.0,205.0,1,7,1
5760,2022-540,Wimbledon,Grass,128,G,20220627,121,109739,NaN,NaN,...,22.0,6.0,11.0,172.0,319.0,200.0,283.0,0,3,1
5761,2022-540,Wimbledon,Grass,128,G,20220627,122,122330,NaN,NaN,...,12.0,5.0,10.0,38.0,1105.0,59.0,922.0,2,9,1

In [25]:
L  = list(all_matches1)
for i in range(17,27):
    L[i],L[i-10]=L[i-10],L[i]
all_matches1=all_matches1.reindex(columns=L)

In [26]:
all_matches1.rename(columns={'loser_id':'Player1_id', 'loser_seed':'Player1_seed', 'loser_entry':'Player1_entry', 'loser_name':'Player1_name', 'loser_hand':'Player1_hand', 'loser_ht':'Player1_ht', 'loser_ioc':'Player1_ioc', 'loser_age':'Player1_age', 'loser_rank':'Player1_rank', 'loser_rank_points':'Player1_rank_points','winner_id':'Player2_id', 'winner_seed':'Player2_seed', 'winner_entry':'Player2_entry', 'winner_name':'Player2_name', 'winner_hand':'Player2_hand', 'winner_ht':'Player2_ht', 'winner_ioc':'Player2_ioc', 'winner_age':'Player2_age', 'winner_rank':'Player2_rank', 'winner_rank_points':'Player2_rank_points', 'winner_streak':'Player2_streak', 'winner_max_streak':'Player2_max_streak'},inplace=True)

In [27]:
all_matches2.rename(columns={'loser_id':'Player1_id', 'loser_seed':'Player1_seed', 'loser_entry':'Player1_entry', 'loser_name':'Player1_name', 'loser_hand':'Player1_hand', 'loser_ht':'Player1_ht', 'loser_ioc':'Player1_ioc', 'loser_age':'Player1_age', 'loser_rank':'Player1_rank', 'loser_rank_points':'Player1_rank_points','winner_id':'Player2_id', 'winner_seed':'Player2_seed', 'winner_entry':'Player2_entry', 'winner_name':'Player2_name', 'winner_hand':'Player2_hand', 'winner_ht':'Player2_ht', 'winner_ioc':'Player2_ioc', 'winner_age':'Player2_age', 'winner_rank':'Player2_rank', 'winner_rank_points':'Player2_rank_points', 'winner_streak':'Player2_streak', 'winner_max_streak':'Player2_max_streak'},inplace=True)

C:\Users\islam\AppData\Local\Temp\ipykernel_23340\1639979261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_matches2.rename(columns={'loser_id':'Player1_id', 'loser_seed':'Player1_seed', 'loser_entry':'Player1_entry', 'loser_name':'Player1_name', 'loser_hand':'Player1_hand', 'loser_ht':'Player1_ht', 'loser_ioc':'Player1_ioc', 'loser_age':'Player1_age', 'loser_rank':'Player1_rank', 'loser_rank_points':'Player1_rank_points','winner_id':'Player2_id', 'winner_seed':'Player2_seed', 'winner_entry':'Player2_entry', 'winner_name':'Player2_name', 'winner_hand':'Player2_hand', 'winner_ht':'Player2_ht', 'winner_ioc':'Player2_ioc', 'winner_age':'Player2_age', 'winner_rank':'Player2_rank', 'winner_rank_points':'Player2_rank_points', 'winner_streak':'Player2_streak', 'winner_max_streak':'Player2_max_streak'},inplace=True)

In [28]:
cc = [all_matches1,all_matches2]
all_matches_final= pd.concat(cc)

In [29]:
from sklearn.utils import shuffle
all_matches_final = shuffle(all_matches_final)
all_matches_final.to_csv('all_matches_final.csv', encoding='utf-8', index=False)

In [30]:
all_matches_final

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,Player1_entry,Player1_name,Player1_hand,...,l_SvGms,l_bpSaved,l_bpFaced,Player2_rank,Player2_rank_points,Player1_rank,Player1_rank_points,Player2_streak,Player2_max_streak,y
7679,2023-0807,Acapulco,Hard,32,A,20230227,271,NaN,J J Wolf,R,...,10.0,8.0,12.0,125.0,448.0,44.0,951.0,0,4,1
608,2020-0495,Dubai,Hard,32,A,20200224,272,NaN,Ricardas Berankis,R,...,17.0,4.0,8.0,29.0,1440.0,62.0,841.0,0,6,0
11353,2024-0322,Geneva,Clay,32,A,20240520,293,NaN,Yannick Hanfmann,R,...,9.0,5.0,9.0,1.0,9860.0,85.0,682.0,2,26,1
3702,2021-8996,Santiago,Clay,32,A,20210308,300,NaN,Facundo Bagnis,L,...,17.0,4.0,8.0,22.0,2180.0,118.0,633.0,3,9,0
5570,2022-0440,s Hertogenbosch,Grass,32,A,20220606,299,NaN,Adrian Mannarino,L,...,12.0,5.0,10.0,2.0,8160.0,70.0,858.0,2,16,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3890,2021-9428,Murray River Open,Hard,64,A,20210201,293,NaN,Alex Bolt,L,...,16.0,8.0,11.0,18.0,2365.0,174.0,380.0,0,6,0
1413,2020-M-DC-2020-WG2-PO-INA-KEN-01,Davis Cup WG2 PO: INA vs KEN,Hard,4,D,20200306,2,NaN,Ismael Changawa Ruwa Mzai,L,...,NaN,NaN,NaN,1346.0,3.0,NaN,NaN,0,1,0
1103,2020-9408,Sardinia,Clay,32,A,20201012,282,Q,Jozef Kovalik,R,...,12.0,2.0,7.0,54.0,1024.0,125.0,487.0,0,3,0
1016,2020-520,Roland Garros,Clay,128,G,20200928,1221,NaN,Dominik Koepfer,L,...,16.0,8.0,13.0,17.0,2185.0,61.0,886.0,0,6,0
2923,2021-520,Roland Garros,Clay,128,G,20210531,136,NaN,Jiri Vesely,L,...,12.0,4.0,10.0,25.0,2280.0,71.0,976.0,2,6,0